.marker-pin-container{
  background-color:white;
  border:1px solid;
  height:30px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}