.header-container{
  margin: 20px;
  .header-heading{
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
  }
  .header-description{
    font-size: 20px;
    font-weight: lighter;
    color: gray;
    text-transform: capitalize;
  }
}